*~
bin
/.idea

tools/bin/*
*.out
dist/
.cache
.parcel-cache
node_modules
coverage
*.lcov
ginkgo.report
.deps
test/library/wego-library-test
tilt_modules
.envrc

# generate by k3s when running acceptance tests
kubeconfig.yaml
