name: Helm chart

on:
  push:
    branches:
      - 'main'
    paths:
      - 'charts/**'
  pull_request:
    branches:
      - 'main'
    paths:
      - 'charts/**'

env:
  REGISTRY: ghcr.io
  CHART_LOCATION: weaveworks/charts

permissions:
  contents: write
  id-token: write
  packages: write

jobs:
  helm-new-version:
    runs-on: ubuntu-latest
    outputs:
      old-version: ${{ steps.old-version.outputs.version }}
      new-version: ${{ steps.new-version.outputs.version }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Find new version
        id: new-version
        run: |
          NEW_VERSION=$(yq e '.version' charts/gitops-server/Chart.yaml)
          echo "::set-output name=version::$NEW_VERSION"
      - name: Find old version
        id: old-version
        run: |
          git checkout ${{ github.event.pull_request.base.sha }}
          OLD_VERSION=$(yq e '.version' charts/gitops-server/Chart.yaml)
          echo "::set-output name=version::$OLD_VERSION"

  helm-will-release:
    runs-on: ubuntu-latest
    needs: helm-new-version
    if: github.event_name == 'pull_request' && needs.helm-new-version.outputs.old-version != needs.helm-new-version.outputs.new-version
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Find out if there's more changes to release
        id: extra
        run: |
          last_revision=$(git blame ${{ github.event.pull_request.base.sha }} -L '/^version: [0-9.]\+$/,+1' charts/gitops-server/Chart.yaml | awk '{print $1}')

          set +e
          git log --exit-code $last_revision...${{ github.event.pull_request.base.sha }} charts/gitops-server
          unreleased_commits=$?
          if [[ $unreleased_commits == 1 ]]; then
              echo "::set-output name=unreleased-commits::The last chart was last released in $last_revision and there have been other changes in the chart since"
          fi
      - name: Alert about the need to change chart version
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.WEAVE_GITOPS_BOT_ACCESS_TOKEN }}
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "Merging this will release a new helm chart. ${{ steps.extra.outputs.unreleased-commits }}"
            })


  helm-release:
    runs-on: ubuntu-latest
    needs: helm-new-version
    if: github.event_name == 'push' && needs.helm-new-version.outputs.old-version != needs.helm-new-version.outputs.new-version
    steps:
      - uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
      - name: Find new version
        id: new_version
        run: |
          NEW_VERSION=$(yq e '.version' charts/gitops-server/Chart.yaml)
          echo "::set-output name=version::$NEW_VERSION"
      - name: Generate new chart
        run: |
          URL=https://helm.gitops.weave.works
          mkdir helm-release
          helm package charts/gitops-server/ -d helm-release
          curl -O $URL/index.yaml
          helm repo index helm-release --merge=index.yaml --url=$URL
      - id: auth
        uses: google-github-actions/auth@v0.4.0
        with:
          credentials_json: ${{ secrets.PROD_DOCS_GITOPS_UPLOAD }}
#      - id: upload-file
#        uses: google-github-actions/upload-cloud-storage@v0.4.0
#        with:
#          path: helm-release
#          destination: helm.gitops.weave.works
#          parent: false
#      - name: Log in to the Container registry
#        uses: docker/login-action@v1
#        with:
#          registry: ${{ env.REGISTRY }}
#          username: ${{ github.actor }}
#          password: ${{ secrets.GITHUB_TOKEN }}
#      - name: Publish chart as an OCI image
#        run: |
#          helm push helm-release/weave-gitops-${{ steps.new_version.outputs.version }}.tgz oci://${{ env.REGISTRY }}/${{ env.CHART_LOCATION }}
