
on:
  push:
    branches:
      - main
  pull_request:

name: publish
jobs:
  publish-s3-artifact:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: go build -o wego
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2

    - name: Copy files to the production website with the AWS CLI
      run: |
        aws s3 cp wego s3://weave-gitops/wego
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          repository: weaveworks/weave-gitops
          tag_with_ref: true