name: Docs

on:
  pull_request:
    branches:
      - 'main'
    paths:
      - 'website/**'
  push:
    branches:
      - 'main'
    paths:
      - 'website/**'
  workflow_dispatch:

permissions:
  contents: read # for actions/checkout to fetch code

jobs:
  build:
    permissions:
      statuses: write
    if: "${{ github.event_name != 'push' && github.repository_owner == 'weaveworks' && !github.event.pull_request.head.repo.fork }}"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: website
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '18.x'
      - name: Build docs
        env:
          NODE_OPTIONS: "--max-old-space-size=4096"
          GITHUB_HEAD_REF: "${{ github.event_name == 'pull_request' && github.head_ref || 'main' }}"
        run: |
          yarn install --frozen-lockfile
          yarn clear
          export STAGING_BUILD=false
          yarn build
          touch build/.nojekyll

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          name: github-pages
          path: website/build
          retention-days: 365

  # Deployment job
  deploy:
    permissions:
      statuses: write
      pull-requests: write
      id-token: write
      pages: write
    if: "${{ github.event_name != 'push' && github.repository_owner == 'weaveworks' && !github.event.pull_request.head.repo.fork }}"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: website
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
