on:
  schedule:
    - cron: '0 0 * * Tues-Sun'
    - cron: '0 0 * * Mon'
  workflow_dispatch:

name: Nightly
jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17.x
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Clean
      run: make clean
    - name: build
      run: make all BINARY_NAME=gitops-${{matrix.os}}-nightly
    - name: Store gitops binaries
      uses: actions/upload-artifact@v2
      with:
          name: gitops-binaries-${{matrix.os}}-nightly
          path: bin
          retention-days: 1

  test-eks:
    needs: [build]
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    env:
        GITHUB_ORG: weaveworks-gitops-test
        GITHUB_TOKEN: "${{ secrets.WEAVE_GITOPS_TEST_WEAVEWORKS_WEAVE_GITOPS_BOT_TOKEN }}"
        GITHUB_KEY: "${{ secrets.WEAVE_GITOPS_TEST_WEAVEWORKS_WEAVE_GITOPS_BOT_SSH_KEY }}"
        GITLAB_ORG: weave-gitops
        GITLAB_PUBLIC_GROUP: public-weave-gitops
        GITLAB_SUBGROUP: weave-gitops-sub
        GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
        GITLAB_KEY: ${{ secrets.GITLAB_KEY }}
        ARTIFACTS_BASE_DIR: "/tmp/gitops-test"
        CHECKPOINT_DISABLE: 1
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17.x
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2
    - name: Install eksctl
      run: |
        curl --silent --location "https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_$(uname -s)_amd64.tar.gz" | tar xz -C /tmp
        sudo mv /tmp/eksctl /usr/local/bin
        eksctl get clusters
    - name: Kubectl tool installer
      uses: Azure/setup-kubectl@v1
      with:
          version: 'v1.19.6'
    - name: Setup EKS cluster
      run: |
        OS_NAME=$(echo "${{matrix.os}}" | tr '[:upper:]' '[:lower:]')
        export CLUSTER_NAME=wego-nightly-cluster-$OS_NAME
        export CLUSTER_VERSION=1.20
        export CLUSTER_REGION=us-east-1
        export CLUSTER_EXISTS=$(eksctl get clusters --region $CLUSTER_REGION | grep -i $CLUSTER_NAME)
        if [ -z $CLUSTER_EXISTS ]
        then
          eksctl create cluster --name=$CLUSTER_NAME --version=$CLUSTER_VERSION --region=$CLUSTER_REGION
        fi
        eksctl utils write-kubeconfig --region=$CLUSTER_REGION --cluster=$CLUSTER_NAME --kubeconfig=$HOME/.kube/config
        kubectl config rename-context $(kubectl config current-context) test-eks-$OS_NAME
        ls -la $HOME/.kube
        kubectl get nodes -A
        kubectl get all --all-namespaces -o wide
      if: always()
    - name: Fake install flux
      run: mkdir -p pkg/flux/bin && touch pkg/flux/bin/flux
    - name: Download gitops binaries
      uses: actions/download-artifact@v2
      with:
        name: gitops-binaries-${{matrix.os}}-nightly
        path: bin
    - name: Change bin permissions
      run: |
        chmod +x bin/gitops-${{matrix.os}}-nightly
        ls -la bin
    - name: Set up ssh
      uses: ./.github/actions/setup-ssh
      with:
        github-ssh-private-key: ${{ secrets.WEAVE_GITOPS_TEST_WEAVEWORKS_WEAVE_GITOPS_BOT_SSH_KEY }}
        gitlab-ssh-private-key: ${{ secrets.GITLAB_KEY }}
    - name: Configure git settings
      run: |
        git config --global init.defaultBranch main
        git config --global user.email "test-user@weave.works"
        git config --global user.name "Testy McTestFace"
        git config --global url.ssh://git@github.com/.insteadOf https://github.com/
    - name: Setup selenium server
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          sudo apt-get update
          sudo apt-get install -y xvfb
          sudo apt-get install -y google-chrome-stable

          # https://chromedriver.storage.googleapis.com/
          CHROMEDRIVER_VERSION=94.0.4606.61

          wget https://chromedriver.storage.googleapis.com/"${CHROMEDRIVER_VERSION}"/chromedriver_linux64.zip
          unzip chromedriver_linux64.zip
          sudo mv -f chromedriver /usr/local/bin/chromedriver

          wget  https://selenium-release.storage.googleapis.com/3.14/selenium-server-standalone-3.14.0.jar

          xvfb-run -a --server-args="-screen 0 1280x1024x24" java -jar ./selenium-server-standalone-3.14.0.jar &

        elif [ "$RUNNER_OS" == "macOS" ]; then
          selenium-server &
        fi
    - name: Install Ginkgo binary
      run: go get github.com/onsi/ginkgo/ginkgo
    - name: User Acceptance Tests for GitHub (${{matrix.os}})
      run: |
        export WEGO_BIN_PATH=$(pwd)/bin/gitops-${{matrix.os}}-nightly
        export CLUSTER_PROVIDER=kubectl
        export DELETE_WEGO_RUNTIME_ON_EACH_TEST=true
        # cleanup the cluster
        $WEGO_BIN_PATH flux uninstall --silent
        $WEGO_BIN_PATH flux uninstall --namespace test-namespace --silent
        kubectl get all --all-namespaces -o wide
        ginkgo --reportFile=${{ env.ARTIFACTS_BASE_DIR }}/test-results/acceptance-test-results.xml --skip=@skipOnNightly -v ./test/acceptance/test/...
      if: always()
    - name: User Acceptance Tests for GitLab (${{matrix.os}})
      if: |
        github.event.schedule == '0 0 * * Mon' && 
        matrix.os == 'macOS-latest'
      run: |
        export WEGO_BIN_PATH=$(pwd)/bin/gitops-${{matrix.os}}-nightly
        export CLUSTER_PROVIDER=kubectl
        export DELETE_WEGO_RUNTIME_ON_EACH_TEST=true
        # cleanup the cluster
        $WEGO_BIN_PATH flux uninstall --silent
        $WEGO_BIN_PATH flux uninstall --namespace test-namespace --silent
        kubectl get all --all-namespaces -o wide
        export GIT_PROVIDER=gitlab
        ginkgo --reportFile=${{ env.ARTIFACTS_BASE_DIR }}/test-results/acceptance-test-results.xml --skip=@skipOnNightly -v ./test/acceptance/test/...
    - name: Store acceptance test results
      if: ${{ always() }}
      continue-on-error: true
      uses: actions/upload-artifact@v2
      with:
        name: acceptance-test-artifacts-${{ matrix.os }}
        path: ${{ env.ARTIFACTS_BASE_DIR }}
        retention-days: 1

  test-gke:
    needs: [build]
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    env:
        GITHUB_ORG: weaveworks-gitops-test
        GITHUB_TOKEN: "${{ secrets.WEAVE_GITOPS_TEST_WEAVEWORKS_WEAVE_GITOPS_BOT_TOKEN }}"
        GITHUB_KEY: "${{ secrets.WEAVE_GITOPS_TEST_WEAVEWORKS_WEAVE_GITOPS_BOT_SSH_KEY }}"
        GITLAB_ORG: weave-gitops
        GITLAB_PUBLIC_GROUP: public-weave-gitops
        GITLAB_SUBGROUP: weave-gitops-sub
        GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
        GITLAB_KEY: ${{ secrets.GITLAB_KEY }}
        ARTIFACTS_BASE_DIR: "/tmp/gitops-test"
        CHECKPOINT_DISABLE: 1
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17.x
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Cloud SDK
      uses: google-github-actions/setup-gcloud@master
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true
    - name: Use gcloud CLI
      run: |
        gcloud info
        gcloud container clusters list
    - name: Kubectl tool installer
      uses: Azure/setup-kubectl@v1
      with:
          version: 'v1.19.6'
    - name: Setup GKE cluster
      run: |
        OS_NAME=$(echo "${{matrix.os}}" | tr '[:upper:]' '[:lower:]')
        export CLUSTER_NAME=wego-nightly-cluster-$OS_NAME
        export CLUSTER_VERSION=1.20
        export CLUSTER_REGION=us-central1-a
        export CLUSTER_EXISTS=$(gcloud container clusters list | grep -i $CLUSTER_NAME)
        if [ -z $CLUSTER_EXISTS ]
        then
          gcloud container clusters create $CLUSTER_NAME --cluster-version=$CLUSTER_VERSION --zone $CLUSTER_REGION
        fi
        gcloud container clusters get-credentials $CLUSTER_NAME --zone $CLUSTER_REGION
        kubectl config rename-context $(kubectl config current-context) test-gke-$OS_NAME
        ls -la $HOME/.kube
        kubectl get nodes -A
        kubectl get all --all-namespaces -o wide
      if: always()
    - name: Fake install flux
      run: mkdir -p pkg/flux/bin && touch pkg/flux/bin/flux
    - name: Download gitops binaries
      uses: actions/download-artifact@v2
      with:
        name: gitops-binaries-${{matrix.os}}-nightly
        path: bin
    - name: Change bin permissions
      run: |
        chmod +x bin/gitops-${{matrix.os}}-nightly
        ls -la bin
    - name: Set up ssh
      uses: ./.github/actions/setup-ssh
      with:
        github-ssh-private-key: ${{ secrets.WEAVE_GITOPS_TEST_WEAVEWORKS_WEAVE_GITOPS_BOT_SSH_KEY }}
        gitlab-ssh-private-key: ${{ secrets.GITLAB_KEY }}
    - name: Configure git settings
      run: |
        git config --global init.defaultBranch main
        git config --global user.email "test-user@weave.works"
        git config --global user.name "Testy McTestFace"
        git config --global url.ssh://git@github.com/.insteadOf https://github.com/
    - name: Setup selenium server
      run: |
        if [ "$RUNNER_OS" == "Linux" ]; then
          sudo apt-get update
          sudo apt-get install -y xvfb
          sudo apt-get install -y google-chrome-stable

          # https://chromedriver.storage.googleapis.com/
          CHROMEDRIVER_VERSION=94.0.4606.61

          wget https://chromedriver.storage.googleapis.com/"${CHROMEDRIVER_VERSION}"/chromedriver_linux64.zip
          unzip chromedriver_linux64.zip
          sudo mv -f chromedriver /usr/local/bin/chromedriver

          wget  https://selenium-release.storage.googleapis.com/3.14/selenium-server-standalone-3.14.0.jar

          xvfb-run -a --server-args="-screen 0 1280x1024x24" java -jar ./selenium-server-standalone-3.14.0.jar &

        elif [ "$RUNNER_OS" == "macOS" ]; then
          selenium-server &
        fi
    - name: Install Ginkgo binary
      run: go get github.com/onsi/ginkgo/ginkgo
    - name: User Acceptance Tests For GitHub (${{matrix.os}})
      run: |
        export WEGO_BIN_PATH=$(pwd)/bin/gitops-${{matrix.os}}-nightly
        export CLUSTER_PROVIDER=kubectl
        export DELETE_WEGO_RUNTIME_ON_EACH_TEST=true
        # cleanup the cluster
        $WEGO_BIN_PATH flux uninstall --silent
        $WEGO_BIN_PATH flux uninstall --namespace test-namespace --silent
        kubectl get all --all-namespaces -o wide
        ginkgo --reportFile=${{ env.ARTIFACTS_BASE_DIR }}/test-results/acceptance-test-results.xml --skip=@skipOnNightly -v ./test/acceptance/test/...
      if: always()
    - name: User Acceptance Tests for GitLab (${{matrix.os}})
      if: |
        github.event.schedule == '0 0 * * Mon' && 
        matrix.os == 'ubuntu-latest'
      run: |
        export WEGO_BIN_PATH=$(pwd)/bin/gitops-${{matrix.os}}-nightly
        export CLUSTER_PROVIDER=kubectl
        export DELETE_WEGO_RUNTIME_ON_EACH_TEST=true
        # cleanup the cluster
        $WEGO_BIN_PATH flux uninstall --silent
        $WEGO_BIN_PATH flux uninstall --namespace test-namespace --silent
        kubectl get all --all-namespaces -o wide
        export GIT_PROVIDER=gitlab
        ginkgo --reportFile=${{ env.ARTIFACTS_BASE_DIR }}/test-results/acceptance-test-results.xml --skip=@skipOnNightly -v ./test/acceptance/test/...
    - name: Store acceptance test results
      if: ${{ always() }}
      continue-on-error: true
      uses: actions/upload-artifact@v2
      with:
        name: acceptance-test-artifacts-${{ matrix.os }}
        path: ${{ env.ARTIFACTS_BASE_DIR }}
        retention-days: 1

  publish:
    if: success()
    needs: [test-eks, test-gke]
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
    steps:
    - name: Download tested gitops binaries
      uses: actions/download-artifact@v2
      with:
        name: gitops-binaries-${{matrix.os}}-nightly
        path: bin
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d')"
    - name: publish nightly binaries to s3
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-2
    - run: |
        aws s3 cp bin/gitops-${{matrix.os}}-nightly s3://weave-gitops/nightly/${{ steps.date.outputs.date }}/gitops-${{matrix.os}}
