name: Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
# Uncomment once we have a FOSSA secret
#  fossa:
#    name: FOSSA
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v2
#      - name: Run FOSSA scan and upload build data
#        uses: fossa-contrib/fossa-action@v1
#        with:
#          # FOSSA Push-Only API Token
#          fossa-api-key: ${{ secrets.FOSSA_API_KEY }}
#          github-token: ${{ github.token }}

  snyk-sourcecode:
    name: Snyk Sourcecode
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/golang@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_API_TOKEN }}
        with:
          args: --sarif-file-output=snyk.code.sarif
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: snyk.code.sarif

# Uncomment once we have a docker image
 docker:
   name: Docker
   runs-on: ubuntu-latest
   steps:
     - name: Login to GitHub Packages Docker Registry
       uses: docker/login-action@v1
       with:
         username: ${{ secrets.DOCKER_USERNAME }}
         password: ${{ secrets.DOCKER_PASSWORD }}
     - name: Checkout
       uses: actions/checkout@master
     - name: Set up Docker Buildx
       uses: docker/setup-buildx-action@v1
     - name: Build and push
       uses: docker/build-push-action@v2
       with:
         context: .
         push: true
         tags: ${{ secrets.DOCKER_HUB_USERNAME }}/test-security-tools:${{ github.sha }}
     - name: Inspect
       run: |
         docker buildx imagetools inspect ${{ secrets.DOCKER_HUB_USERNAME }}/test-security-tools:${{ github.sha }}
#
#  snyk:
#    name: Snyk
#    runs-on: ubuntu-latest
#    needs: docker
#    steps:
#      - uses: actions/checkout@v2
#      - name: Run Snyk to check Docker image for vulnerabilities
#        # Snyk can be used to break the build when it detects vulnerabilities.
#        # In this case we want to upload the issues to GitHub Code Scanning
#        continue-on-error: true
#        uses: snyk/actions/docker@master
#        env:
#          SNYK_TOKEN: ${{ secrets.SNYK_API_TOKEN }}
#        with:
#          image: ${{ secrets.DOCKER_HUB_USERNAME }}/test-security-tools:${{ github.sha }}
#          args: --file=Dockerfile
#      - name: Upload result to GitHub Code Scanning
#        uses: github/codeql-action/upload-sarif@v1
#        with:
#          sarif_file: snyk.sarif
#
#  trivy:
#    name: Trivy
#    runs-on: ubuntu-latest
#    needs: docker
#    steps:
#      - name: Run Trivy vulnerability scanner
#        uses: aquasecurity/trivy-action@master
#        with:
#          image-ref: '${{ secrets.DOCKER_HUB_USERNAME }}/test-security-tools:${{ github.sha }}'
#          format: 'template'
#          template: '@/contrib/sarif.tpl'
#          output: 'trivy-results.sarif'
#      - name: Upload Trivy scan results to GitHub Security tab
#        uses: github/codeql-action/upload-sarif@v1
#        with:
#          sarif_file: 'trivy-results.sarif'

  codeql:
    name: CodeQL
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v1
        with:
          languages: go
      - name: Autobuild
        uses: github/codeql-action/autobuild@v1
      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v1